LeetCode_${question.frontendQuestionId}_$!velocityTool.camelCaseName(${question.titleSlug})

package leetcode.question.two_pointer;

/**
  *@Question:  ${question.frontendQuestionId}. ${question.title}
  *@Difculty:  ${question.level} [1->Easy, 2->Medium, 3->Hard]
  *@Frequency: $!velocityTool.toPercentageFormat(${question.frequency})
  *@Time  Complexity: O()
  *@Space Complexity: O()
 */

public class LeetCode_${question.frontendQuestionId}_$!velocityTool.camelCaseName(${question.titleSlug}){

${question.code}

    public static void main(String[] args) {
        Solution solution = new LeetCode_${question.frontendQuestionId}_$!velocityTool.camelCaseName(${question.titleSlug})().new Solution();
        // TO TEST
        //solution.
    }
}
${question.content}